*{
	margin: 0;
	padding: 0;
}

/*__Header__*/

.header_img {
	height: 30px;
	width: 30px;
	margin: 10px;
}

.header_p {
	
	font-size: 15px;
	float: right;
	margin-left: 200px;
}

.exit {
	font-size: 15px;
	float: right;
	margin-top: 25px;
	font-weight: bold;
	margin-right: 15px;
}

/*__Body__*/

body {
	background-image: url(img/images.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;



}

/*__Tabs__*/
.tabs-wrapper{
	position: relative;
	width: 100%;
}

.tabs-titles-wrap{
	display: flex;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	height: 45px;
}

.tab{
	width: 250px;
	height: 55px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: white;
	text-align: center;
	margin-top: -10px;
	line-height: 60px;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;

}
.tab:hover{
	background: rgb(226,226,226); /* Old browsers */	
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	color: black;
	cursor: pointer;
}

.tab.active{
	background: rgb(125,126,125); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
	color: white;
	cursor: default;
}
.tab-content{
	padding:30px 20px;
	display: none;
}
.tab-content.active{
	display: inline-flex;
}

.tabback{
	width: 250px;
	height: 55px;
	background: #45484d; /* Old browsers */
	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
	color: white;
	text-align: center;
	margin-top: -10px;
	line-height: 60px;
	font-size: 20px;
	cursor: pointer;
	font-weight: bold;

}
.tabback:hover{
	background: rgb(226,226,226); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(226,226,226,1) 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, rgba(254,254,254,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(226,226,226,1) 0%,rgba(219,219,219,1) 50%,rgba(209,209,209,1) 51%,rgba(254,254,254,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
	color: black;
	cursor: pointer;
}

/*__Form__*/
textarea{
	resize: none;
}
.form-main {
	margin-left: 150px;
}
.div-form-main {
	position: absolute;
}
.div-form-main label {
	background: black;
	display: block;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}
.div-form-main .box {
	display: block;
	width: 250px;
	bcourse-color: black;
	line-height: 46px;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background: lightgrey;
}
.div-form-main .button {
	width: 250px;
	height: 46px;
	color: white;

	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.div-form-main .button:hover{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.div-form-main .button:disabled{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.div-form-main select{
	margin-bottom: 20px;
	height: 50px;
}

.div-form-main1 {
	position: absolute;
	margin-left: 270px;
}
.div-form-main1 label {
	background: black;
	display: block;
	padding-left: 15px;
	font-family: 'Roboto', sans-serif;
	color: white;
	text-transform: uppercase;
	font-size: 20px;
}

.div-form-main1 .button:disabled{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.div-form-main1 .box {
	display: block;
	width: 250px;
	bcourse-color: black;
	line-height: 46px;
	color: black;
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	background: lightgrey;
}
.div-form-main1 .button {
	width: 250px;
	height: 46px;
	color: white;

	background: -moz-linear-gradient(top, #45484d 0%, #000000 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #45484d 0%,#000000 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #45484d 0%,#000000 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.div-form-main1 .button:hover{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.div-form-main1 select{
	margin-bottom: 20px;
	height: 50px;
}


.div-form-profile {
	background-color: whitesmoke;
	border: 10px solid black;
	height: 600px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding: 0px;
	text-align:center;
}
.div-form-profile label {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 18px;
	color: #333;
	height: 20px;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
	text-align: right;
	clear: both;
	float:left;
	margin-right:15px;
}

.div-form-profile input[type=submit] {
	margin-top: 50px;
	 float:none;
 }

.div-form-profile input[type=checkbox] {
	margin-top: 80px;
	float:none;
}

.div-form-profile .button:hover{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.div-form-profile .button:disabled{
	background: linear-gradient(rgb(126,126,134), rgb(70,71,76)) rgb(126,126,134);
}

.div-form-profile select{
	margin-bottom: 20px;
	height: 50px;
}

.label-profile{
	height: 20px;
	width: 300px;
	border: none;
	background: none;
	font-size: 18px;
	margin-top: 10px;
	float: left;
	cursor: default;
}

.input-profile{
	height: 25px;
	font-size: 18px;
	width: 300px;
	border: 1px solid #000;
	margin-top: 10px;
	float: left;
}


/*__Table__*/
.tabs-content-wrap{
	float: left;
	width: 600px;
}
table{
	width: 1200px;
	font-size: 20px;
	text-align: center;
	float: left;
}

td{
	padding: 10px;
}
tr{
	background: lightgray;
}
.selected:hover{
	cursor: pointer;
	color: darkred;
	background: #d5d5d5;
}


/*__Buttons__*/
.button{
	background: lightgray;
	cursor: pointer;
	margin-bottom: 10px;
}
